In [26]:
#List
#Already Made List
Names=["Nitya","Krish"]
print("Names:",Names)

Names: ['Nitya', 'Krish']

In [27]:
# Add a new Name to the List
Names.append("Ishit")

In [28]:
print("Names after adding Ishit:", Names)

Names after adding Ishit: ['Nitya', 'Krish', 'Ishit']

In [29]:
# Remove the first Name (Nitya)
Names.pop(0)
print("Names after removing Nitya:", Names)

Names after removing Nitya: ['Krish', 'Ishit']

In [30]:
#insertion at particular index
Names.insert(1, "Preeti")
print("Names:",Names)

Names: ['Krish', 'Preeti', 'Ishit']

In [31]:
#Removing from a particular index
removed_name=Names.pop(2)
print("List after removing Name at index 2:", Names)
print("Removed Name:", removed_name)

List after removing Name at index 2: ['Krish', 'Preeti']
Removed Name: Ishit

In [32]:
# Modify the any index 
Names[0] = "Hemant"
print("List after modifying the first index name:", Names)

List after modifying the first index name: ['Hemant', 'Preeti']

In [21]:
#taking List as input from the user
Names_list=[]
n=int(input("Enter the number of student to make a list: "))
for i in range(n):
  element = input("Enter element {}: ".format(i+1))
  Names_list.append(element)
print("Names", Names_list)

Enter the number of student to make a list: 2
Enter element 1: heloo
Enter element 2: hi
Names ['heloo', 'hi']

In [22]:
# Getting comma-separated input
user_input_Names = input("Enter elements separated by commas: ")

# Convert the string to a list
my_list = user_input_Names.split(",")

# Print the list
print("Names:", my_list)

Enter elements separated by commas: nitya,krish,ishit
Names: ['nitya', 'krish', 'ishit']

In [ ]:
#Dictionary

In [36]:
# Create a dictionary of Family information
Family = {
    "Name": "Krish Vijayvargiya",
    "Age": 18,
}
print(Family)

{'Name': 'Krish Vijayvargiya', 'Age': 18}

In [37]:
#Adding of a new key-value pair
Family["city"] = "New York"
print(Family)

{'Name': 'Krish Vijayvargiya', 'Age': 18, 'city': 'New York'}

In [38]:
# Insertion
Family.update({"occupation": "Software Engineer"})  
# Updating with key-value pair
Family.update(job_title="Data Scientist") 
print(Family)

{'Name': 'Krish Vijayvargiya', 'Age': 18, 'city': 'New York', 'occupation': 'Software Engineer', 'job_title': 'Data Scientist'}

In [40]:
#deleting
del Family["Age"]
print(Family)

{'Name': 'Krish Vijayvargiya', 'city': 'New York', 'occupation': 'Software Engineer', 'job_title': 'Data Scientist'}

In [41]:
#Removing
Removed_value = Family.pop("city", "N/A")  
print(Family)
print("Removed value:", Removed_value)

{'Name': 'Krish Vijayvargiya', 'occupation': 'Software Engineer', 'job_title': 'Data Scientist'}
Removed value: New York

In [ ]:
#Set

In [50]:
#Adding
Set={1,2,3}
Set.add(4)
print(Set)

{1, 2, 3, 4}

In [51]:
#Removing
Set.remove(2)
print(Set)

{1, 3, 4}

In [52]:
#Modification is not directly possible in set but we can indirectly remove and add new element 
set = {10, 20, 30}
set.remove(20)  # Remove the element to modify
set.add(25)  # Add a new element with the modification
print(set)

{25, 10, 30}